.bike-details {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.bike-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bike-details p {
  font-size: 1rem;
  margin: 5px 0;
}
.slider {
  height: 20vw;
  width: 40vw;
  margin-left: 22vw;
}

.add-to-cart-button {
  display: inline-block;
  padding-left: 15%;
}

/* .similar-products{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */
.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 40px;
  max-width: 420px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

.product-card h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.product-card .price {
  font-size: 14px;
  color: #777;
  margin-top: 8px;
}

.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #0056b3;
}
